In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [9]:
dt= pd.read_csv('Sales_data_zone_wise.csv')
print(dt.head(5))

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

# 1) Mean sales generated by each Zone

In [10]:
#checking for null values
print(dt.isnull().sum())

Month       0
Zone - A    0
Zone - B    0
Zone - C    0
Zone - D    0
dtype: int64

There is no null values inside the dataset

In [11]:
#average sales of each zone 
avg = dt.mean(axis=0)
print(avg)

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

# 2) Total sales generated by all the zones for each month

In [12]:
dt['total sales']= dt.sum(axis=1)
print(dt)

         Month  Zone - A  Zone - B  Zone - C  Zone - D  total sales
0    Month - 1   1483525   1748451   1523308   2267260      7022544
1    Month - 2   1238428   1707421   2212113   1994341      7152303
2    Month - 3   1860771   2091194   1282374   1241600      6475939
3    Month - 4   1871571   1759617   2290580   2252681      8174449
4    Month - 5   1244922   1606010   1818334   1326062      5995328
5    Month - 6   1534390   1573128   1751825   2292044      7151387
6    Month - 7   1820196   1992031   1786826   1688055      7287108
7    Month - 8   1625696   1665534   2161754   2363315      7816299
8    Month - 9   1652644   1873402   1755290   1422059      6703395
9   Month - 10   1852450   1913059   1754314   1608387      7128210
10  Month - 11   2004480   1740365   1317869   1970069      7032783
11  Month - 12   1537539   1875658   1237722   1460165      6111084
12  Month - 13   1254939   1588473   1348629   1733383      5925424
13  Month - 14   1821799   1844081   1617376   1872259      7155515
14  Month - 15   1128185   1804613   1767047   1234311      5934156
15  Month - 16   1491534   1542053   1882159   1590913      6506659
16  Month - 17   1182110   1552388   2234469   2180416      7149383
17  Month - 18   1770324   1699213   1249821   2364132      7083490
18  Month - 19   1181635   1959268   2009168   1821882      6971953
19  Month - 20   1305972   1559670   2107949   2151008      7124599
20  Month - 21   1570152   2013615   1540016   2265814      7389597
21  Month - 22   1481619   1527574   2255729   2295079      7560001
22  Month - 23   1887694   1992155   1348387   1459683      6687919
23  Month - 24   1880820   1752873   2098463   2052591      7784747
24  Month - 25   1256333   1622671   1521792   1695122      6095918
25  Month - 26   1422853   1715465   1853636   1520406      6512360
26  Month - 27   1384426   1983163   1611169   1289160      6267918
27  Month - 28   1616640   1547991   2128022   2178267      7470920
28  Month - 29   1310654   1660092   1947119   1854412      6772277

# 3) check wheather all zones generated same amount of sales

In [13]:
#dropping total sales column
dt= dt.drop(['total sales'],axis=1)
print(dt)

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

Hypothesis

H0: all zones generate the same  amount of sales

Ha: All zone different amount of sales

In [14]:
f_value, p_value= stats.f_oneway(dt['Zone - A'],dt['Zone - B'],dt['Zone - C'],dt['Zone - D'])
print('f-value=',f_value,'\n p-value=',p_value)

f-value= 5.672056106843581
 p-value= 0.0011827601694503335

In [18]:
if p_value<0.05:
    print('we reject the null hypothesis, ie, all zones have different amounts of sales')
else:
    print('we fail to reject the null hypothesis, ie, all zones have same amounts of sales')

we reject the null hypothesis, ie, all zones have different amounts of sales